.faceit_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.banned {
    content: "";
    position: absolute;
    background-color: #f44336;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    top: 0;
    left: 0;
}

.profile_header_badge {
    position: relative;
    background-size: cover;
}

.profile_header_badge:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.faceit_maps {
    display: flex;
    justify-content: space-between;
}

.faceit_maps>.plus_more {
    line-height: 55px !important;
    border: 0 !important;
    height: 55px !important;
    width: 110px !important;
    background-size: cover;
}

.faceit_maps>.game_info_achievement {
    position: relative;
}

.wr {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    right: 0;
    font-weight: bold;
    line-height: 12px;
    height: 14px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.wr>.lose,
.kd>.lose {
    color: tomato;
}

.wr>.win,
.kd>.win {
    color: #8bc34a;
}

.kd {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.winrate {
    font-weight: bold;
    font-size: 24px;
    z-index: 9;
    position: relative;
}

.faceit_maps>.game_info_achievement:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.showcase_faceit {
    display: flex;
    justify-content: space-between;
}

.faceit_badge {
    width: 260px;
}

.faceit_badge>.profile_header_badge {
    margin-bottom: 0;
}

.showcase_stat {
    text-align: center;
}

.showcase_stat .lose {
    color: tomato !important;
}

.showcase_stat .win {
    color: #8bc34a !important;
}

.showcase_faceit>.showcase_stat:hover {
    cursor: default;
}

.showcase_faceit>.showcase_stat {
    margin-left: 0 !important;
}

.showcase_faceit>.showcase_stat:hover label {
    color: #9b9b9b !important;
}

.not_found {
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.faceit_badge .favorite_badge_icon::after {
    content: "0000";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #fff;
    position: absolute;
}

.faceit_badge .ellipsis {
    line-height: 15px;
}

.wrapper-orange .Bar {
    background-color: #f44336 !important;
}

.faceit_content .value {
    font-size: 0.5em !important;
    font-weight: bold !important;
    color: #969696 !important;
}

.faceit_content .label {
    font-size: 0.36em !important;
    text-transform: uppercase;
}

.showcase_stats {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin-right: 20px;
}

.showcase_stat_faceit {
    display: flex !important;
    align-items: center;
}

.showcase_faceit_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 12px;
}

.game_info_stats {
    width: 100%;
}

.white {
    color: #fff !important;
}

.game_info_faceit_header {
    text-align: center;
    background-color: #3F51B5;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
}

.game_info_achievements_only_ctn {
    margin-top: 28px;
}

.faceit_stats_load {
    cursor: pointer;
    color: #000;
    margin-top: 8px;
    background-color: #ff9800;
}

.favorite_badge_description {
    padding-top: 4px!important;
}

.favorite_bi_win {
    display: inline-block;
    color: #8bc34a;
    font-weight: bold;
}

.favorite_bi_lose {
    display: inline-block;
    color: tomato;
    font-weight: bold;
}

.faceit_row {
    padding: 4px 0px 4px 0px;
    color: #9099a1;
}

.faceit_col,
.faceit_row>td {
    padding: 2px 0px 2px 8px;
}

.faceit_row:hover {
    background-color: rgba(42, 72, 94, 0.6);
    cursor: pointer;
    color: #ffffff;
}

.faceit_stats {
    width: 100%;
}

.faceit_stats_lose {
    background-color: rgb(94, 42, 42, 48%);
}

.faceit_stats_win {
    background-color: rgb(42, 94, 42, 48%);
}

.faceit_stats_leaver {
    background-color: rgb(128, 128, 128, 48%);
    color: #fff;
}

.faceit_stats_content {
    margin-top: 18px !important;
    width: 100% !important;
}

.text-white {
    color: #fff;
}

.faceit_stats_details>td:first-child {
    color: #8BC34A;
    text-decoration: underline;
}

.faceit_stats_details_header {
    background-color: rgb(0 0 0 / 48%);
}

.faceit_stats_details_header th {
    padding: 2px 0px 2px 8px;
}